
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    scroll-behavior: smooth;
}

body{
    background-color: #F5F5F5;

}

a{
    text-decoration: none;
    color: inherit;
    line-height: 1;
    cursor: pointer;
}

.container{
    padding-left: 10%;
    padding-right: 10%;

}

.btn{
    background-color: #FFF;
    color: #212121;
    padding: 14px 25px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
}

header{
    width: 100%;
    background-color: rgb(228, 186, 228);
    opacity: 1;
    color: #ffff;
    height: 150px;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo{
    width: 180px;
    
}

.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(8,0,58,0.7),rgba(8,0,58,0.7)), url('../../assests/hero.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
}

.empty{
    height: 120vh;
    width: 100%;
    background-color: darkmagenta;
}