nav{
    width: 100%;
    background-color: purple;
    opacity: 0.5;
    color: #ffff;
    height: 150px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}

.logo{
    width: 180px;
    
}

